.btn {
  @apply h-8 flex items-center justify-center font-normal text-center px-4 leading-8 text-base rounded-lg cursor-pointer bg-content-600 border border-content-600 text-content-50 select-none transition duration-200 ease-in-out;
}
.btn:hover, .btn.active {
  @apply bg-content-700 border-content-700;
}

/* variations */
.btn.primary {
  @apply bg-primary border-primary text-content-primary;
}
.btn.primary:hover, .btn.primary.active {
  @apply bg-primary-darken border-primary-darken;
}
.btn.secondary {
  @apply bg-secondary border-secondary text-content-secondary;
}
.btn.secondary:hover, .btn.secondary.active {
  @apply bg-secondary-darken border-secondary-darken;
}
.btn.accent {
  @apply bg-accent border-accent text-content-accent;
}
.btn.accent:hover, .btn.accent.active {
  @apply bg-accent-darken border-accent-darken;
}
.btn.ghost{
  @apply border-transparent border text-content-400 bg-transparent;
}
.btn.ghost:hover{
  @apply bg-content-200 border-content-200 text-content-600;
}
.btn.link {
  @apply bg-transparent border-transparent text-primary;
}
.btn.link:hover, .btn.link.active {
  @apply underline bg-transparent border-transparent;
}

/* outline */
.btn.outline {
  @apply bg-transparent text-content-600;
}
.btn.outline:hover {
  @apply bg-content-700 text-content-50;
}
.btn.outline.primary {
  @apply text-primary;
}
.btn.outline.primary:hover {
  @apply bg-primary text-content-primary;
}
.btn.outline.secondary {
  @apply text-secondary;
}
.btn.outline.secondary:hover {
  @apply bg-secondary text-content-secondary;
}
.btn.outline.accent {
  @apply text-accent;
}
.btn.outline.accent:hover {
  @apply bg-accent text-content-accent;
}

/* disabled */
.btn.disabled, .btn[disabled] {
  @apply bg-content-200 border-content-200 text-content-400 pointer-events-none;
}

/* sizes */
.btn.wide {
  @apply w-64;
}
.btn.xl {
  @apply px-10 leading-loose text-xl h-16;
}
.btn.lg {
  @apply px-6 leading-loose text-lg h-12;
}
.btn.sm {
  @apply px-2 text-sm leading-relaxed h-6;
}


/* group */
.btn-group{
  @apply flex;
}
.btn-group>input[type=radio].btn{
  @apply appearance-none;
}
.btn-group>input[type=radio]:checked.btn, .btn-group>.active.btn{
  @apply bg-primary border-primary text-content-primary;
}
.btn-group>input[type=radio].btn:before{
  content: attr(data-title);
}
.btn-group>.btn:not(:first-child){
  @apply rounded-l-none -ml-px;
}
.btn-group>.btn:not(:last-child){
  @apply rounded-r-none;
}

/* shapes */
.btn.square {
  @apply h-8 w-8 p-0;
}
.btn.square.sm {
  @apply h-6 w-6 p-0;
}
.btn.square.lg {
  @apply h-12 w-12 p-0;
}
.btn.square.xl {
  @apply h-16 w-16 p-0;
}
.btn.circle {
  @apply rounded-full h-8 w-8 p-0;
}
.btn.circle.sm {
  @apply rounded-full h-6 w-6 p-0;
}
.btn.circle.lg {
  @apply rounded-full h-12 w-12 p-0;
}
.btn.circle.xl {
  @apply rounded-full h-16 w-16 p-0;
}


/* block */
.btn.block {
  @apply w-full;
}

/* loading */
.btn.loading, .btn.loading:hover{
  @apply pointer-events-none;
}
.btn.loading:before{
  @apply animate-spin h-4 w-4 rounded-full mr-2;
  content: '';
  border: 2px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--color-content-50);
  border-right-color: var(--color-content-50);
}
.btn.loading.square:before, .btn.loading.circle:before{
  @apply mr-0;
}
.btn.loading.lg:before, .btn.loading.xl:before{
  @apply h-5 w-5;
}
.btn.loading.sm:before{
  @apply h-3 w-3;
}
.btn.primary.loading:before{
  border-bottom-color: var(--color-content-primary);
  border-right-color: var(--color-content-primary);
}
.btn.secondary.loading:before{
  border-bottom-color: var(--color-content-secondary);
  border-right-color: var(--color-content-secondary);
}
.btn.accent.loading:before{
  border-bottom-color: var(--color-content-accent);
  border-right-color: var(--color-content-accent);
}
.btn.ghost.loading:before{
  border-bottom-color: var(--color-content-400);
  border-right-color: var(--color-content-400);
}
.btn.outline.loading:before{
  border-bottom-color: var(--color-content-600);
  border-right-color: var(--color-content-600);
}
.btn.outline.primary.loading:before{
  border-bottom-color: var(--color-primary);
  border-right-color: var(--color-primary);
}
.btn.outline.secondary.loading:before{
  border-bottom-color: var(--color-secondary);
  border-right-color: var(--color-secondary);
}
.btn.outline.accent.loading:before{
  border-bottom-color: var(--color-accent);
  border-right-color: var(--color-accent);
}
