.btn {
  @apply flex items-center justify-center font-normal text-center rounded-lg cursor-pointer bg-content-600 border border-content-600 text-content-100 select-none transition duration-200 ease-in-out;
  &:hover,
  &.active {
    @apply bg-content-700 border-content-700;
  }
  &:focus {
    @apply relative outline-none;
    box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-content-700);
  }

  /* variations */
  &.primary {
    @apply bg-primary border-primary text-content-primary;
    &:hover,
    &.active {
      @apply bg-primary-darken border-primary-darken;
    }
    &:focus {
      box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-primary);
    }
  }
  &.secondary {
    @apply bg-secondary border-secondary text-content-secondary;
    &:hover,
    &.active {
      @apply bg-secondary-darken border-secondary-darken;
    }
    &:focus {
      box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-secondary);
    }
  }
  &.accent {
    @apply bg-accent border-accent text-content-accent;
    &:hover,
    &.active {
      @apply bg-accent-darken border-accent-darken;
    }
    &:focus {
      box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-accent);
    }
  }
  &.ghost {
    @apply border-transparent border text-content-400 bg-transparent;
    &:hover,
    &.active {
      @apply bg-content-200 border-content-200 text-content-600;
    }
    &:focus {
      box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-content-200);
    }
  }
  &.link {
    @apply bg-transparent border-transparent text-primary;
    &:hover,
    &.active {
      @apply underline bg-transparent border-transparent;
    }
    &:focus {
      box-shadow: 0 0 0 2px var(--color-default), 0 0 0 4px var(--color-primary);
    }
  }

  /* outline */
  &.outline {
    @apply bg-transparent text-content-600;
    &:hover {
      @apply bg-content-700 text-content-100;
    }
    &.primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary text-content-primary;
      }
    }
    &.secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary text-content-secondary;
      }
    }
    &.accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent text-content-accent;
      }
    }
  }

  /* disabled */
  &.disabled,
  &[disabled] {
    @apply bg-content-200 border-content-200 text-content-400 pointer-events-none;
  }

  /* sizes */
  &.wide {
    @apply w-64;
  }
  &.lg {
    @apply px-10 leading-loose text-xl h-16;
  }
  & {
    @apply px-6 leading-loose text-lg h-12;
  }
  &.sm {
    @apply px-4 leading-8 text-base h-8;
  }
  &.xs {
    @apply px-2 text-sm leading-relaxed h-6;
  }

  /* shapes */
  &.square {
    &.xs {
      @apply h-6 w-6 p-0;
    }
    &.sm {
      @apply h-8 w-8 p-0;
    }
    & {
      @apply h-12 w-12 p-0;
    }
    &.lg {
      @apply h-16 w-16 p-0;
    }
  }
  &.circle {
    &.xs {
      @apply rounded-full h-6 w-6 p-0;
    }
    &.sm {
      @apply rounded-full h-8 w-8 p-0;
    }
    & {
      @apply rounded-full h-12 w-12 p-0;
    }
    &.lg {
      @apply rounded-full h-16 w-16 p-0;
    }
  }

  /* block */
  &.block {
    @apply w-full;
  }

  /* loading */
  &.loading {
    &,
    &:hover {
      @apply pointer-events-none;
    }
    &:before {
      @apply animate-spin h-4 w-4 rounded-full mr-2;
      content: "";
      border: 2px solid;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: var(--color-content-100);
      border-right-color: var(--color-content-100);
    }
    &.square:before,
    &.circle:before {
      @apply mr-0;
    }
    &.xl:before,
    &.lg:before {
      @apply h-5 w-5;
    }
    &.sm:before,
    &.xs:before {
      @apply h-3 w-3;
    }
    &.primary:before {
      border-bottom-color: var(--color-content-primary);
      border-right-color: var(--color-content-primary);
    }
    &.secondary:before {
      border-bottom-color: var(--color-content-secondary);
      border-right-color: var(--color-content-secondary);
    }
    &.accent:before {
      border-bottom-color: var(--color-content-accent);
      border-right-color: var(--color-content-accent);
    }
    &.ghost:before {
      border-bottom-color: var(--color-content-400);
      border-right-color: var(--color-content-400);
    }
    &.outline {
      &:before {
        border-bottom-color: var(--color-content-600);
        border-right-color: var(--color-content-600);
      }
      &.primary:before {
        border-bottom-color: var(--color-primary);
        border-right-color: var(--color-primary);
      }
      &.secondary:before {
        border-bottom-color: var(--color-secondary);
        border-right-color: var(--color-secondary);
      }
      &.accent:before {
        border-bottom-color: var(--color-accent);
        border-right-color: var(--color-accent);
      }
    }
  }
}
/* group */
.btn-group {
  @apply flex;
  & > input[type="radio"].btn {
    @apply appearance-none;
  }
  & > input[type="radio"]:checked.btn,
  & > .active.btn {
    @apply bg-primary border-primary text-content-primary;
  }
  & > input[type="radio"].btn:before {
    content: attr(data-title);
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}
