:root {
  --color-default: #ffffff;

  --color-primary: #e92063;
  --color-primary-lighten: color-mod(#e92063 l(60%));
  --color-primary-darken: color-mod(#e92063 l(40%));

  --color-secondary: #6538b2;
  --color-secondary-lighten: color-mod(#6538b2 l(60%));
  --color-secondary-darken: color-mod(#6538b2 l(40%));

  --color-accent: #02a6f2;
  --color-accent-lighten: color-mod(#02a6f2 l(60%));
  --color-accent-darken: color-mod(#02a6f2 l(40%));

  --color-content-primary: #ffffff;
  --color-content-secondary: #ffffff;
  --color-content-accent: #ffffff;

  --color-content-100: color-mod(#657086 l(90%));
  --color-content-200: color-mod(#657086 l(80%));
  --color-content-300: color-mod(#657086 l(70%));
  --color-content-400: color-mod(#657086 l(60%));
  --color-content-500: #657086;
  --color-content-600: color-mod(#657086 l(40%));
  --color-content-700: color-mod(#657086 l(30%));
  --color-content-800: color-mod(#657086 l(20%));
  --color-content-900: color-mod(#657086 l(10%));
}

[data-theme='dark'] {
  --color-default: #16181d;

  --color-content-900: #f9fafb;
  --color-content-800: #f3f4f6;
  --color-content-700: #ebecf0;
  --color-content-600: #d0d4dc;
  --color-content-500: #99a2b2;
  --color-content-400: #657086;
  --color-content-300: #515a6c;
  --color-content-200: #3d4451;
  --color-content-100: #2a2e37;
}

[data-theme='black'] {
  --color-default: #000;

  --color-primary: #fff;
  --color-primary-lighten: #fff;
  --color-primary-darken: #fff;

  --color-secondary: #fff;
  --color-secondary-lighten: #fff;
  --color-secondary-darken: #fff;

  --color-accent: #fff;
  --color-accent-lighten: #fff;
  --color-accent-darken: #fff;

  --color-content-primary: #000;
  --color-content-secondary: #000;
  --color-content-accent: #000;

  --color-content-900: #fff;
  --color-content-800: #fff;
  --color-content-700: #fff;
  --color-content-600: #666;
  --color-content-500: #666;
  --color-content-400: #666;
  --color-content-300: #000;
  --color-content-200: #000;
  --color-content-100: #000;
}

[data-theme='retro'] {
  --color-default: #e4d8b4;

  --color-primary: #e86f68;
  --color-primary-lighten: #e86f68;
  --color-primary-darken: #e86f68;

  --color-secondary: #83b799;
  --color-secondary-lighten: #83b799;
  --color-secondary-darken: #83b799;

  --color-accent: #e2cd6d;
  --color-accent-lighten: #e2cd6d;
  --color-accent-darken: #e2cd6d;

  --color-content-primary: #272324;
  --color-content-secondary: #272324;
  --color-content-accent: #272324;

  --color-content-900: #272324;
  --color-content-800: #272324;
  --color-content-700: #272324;
  --color-content-600: #9e8f6c;
  --color-content-500: #9e8f6c;
  --color-content-400: #9e8f6c;
  --color-content-300: #e4d8b4;
  --color-content-200: #e4d8b4;
  --color-content-100: #e4d8b4;
}


[data-theme='dracula'] {
  --color-default: #1d1e26;

  --color-primary: #ff80bf;
  --color-primary-lighten: #ff80bf;
  --color-primary-darken: #ff80bf;

  --color-secondary: #8aff80;
  --color-secondary-lighten: #8aff80;
  --color-secondary-darken: #8aff80;

  --color-accent: #ffff80;
  --color-accent-lighten: #ffff80;
  --color-accent-darken: #ffff80;

  --color-content-primary: #1d1e26;
  --color-content-secondary: #1d1e26;
  --color-content-accent: #1d1e26;

  --color-content-900: #9580ff;
  --color-content-800: #9580ff;
  --color-content-700: #9580ff;
  --color-content-600: #9580ff;
  --color-content-500: #d0caea;
  --color-content-400: #d0caea;
  --color-content-300: #22212c;
  --color-content-200: #22212c;
  --color-content-100: #22212c;
}

[data-theme='christmas'] {
  --color-default: #ECEBF1;

  --color-primary: #5F1326;
  --color-primary-lighten: #5F1326;
  --color-primary-darken: #5F1326;

  --color-secondary: #D34250;
  --color-secondary-lighten: #D34250;
  --color-secondary-darken: #D34250;

  --color-accent: #5EB69D;
  --color-accent-lighten: #5EB69D;
  --color-accent-darken: #5EB69D;

  --color-content-primary: #fff;
  --color-content-secondary: #fff;
  --color-content-accent: #fff;

  --color-content-900: #2A5B53;
  --color-content-800: #2A5B53;
  --color-content-700: #2A5B53;
  --color-content-600: #2A5B53;
  --color-content-500: #5EB69D;
  --color-content-400: #5EB69D;
  --color-content-300: #ceeae2;
  --color-content-200: #ceeae2;
  --color-content-100: #ceeae2;

}
