:root {


  /* color variants */
  --color-default: #ffffff;

  --color-primary: #e92063;
  --color-primary-lighten: color(#e92063 l(10));
  --color-primary-darken: color(#e92063 d(10));

  --color-secondary: #6538b2;
  --color-secondary-lighten: color(#6538b2 l(10));
  --color-secondary-darken: color(#6538b2 d(10));

  --color-accent: #02a6f2;
  --color-accent-lighten: color(#02a6f2 l(10));
  --color-accent-darken: color(#02a6f2 d(10));

  --color-content-primary: #ffffff;
  --color-content-secondary: #ffffff;
  --color-content-accent: #ffffff;

  --color-content-100: #f3f4f6;
  --color-content-200: #ebecf0;
  --color-content-300: #d0d4dc;
  --color-content-400: #99a2b2;
  --color-content-500: #657086;
  --color-content-600: #515a6c;
  --color-content-700: #3d4451;
  --color-content-800: #2a2e37;
  --color-content-900: #16181d;

  /* border-radius variants */
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 0.25rem;
}

[data-theme='dark'] {
  --color-default: #16181d;

  --color-content-900: #f9fafb;
  --color-content-800: #f3f4f6;
  --color-content-700: #ebecf0;
  --color-content-600: #d0d4dc;
  --color-content-500: #99a2b2;
  --color-content-400: #657086;
  --color-content-300: #515a6c;
  --color-content-200: #3d4451;
  --color-content-100: #2a2e37;
}

[data-theme='black'] {
  --color-default: #000;

  --color-primary: #fff;
  --color-primary-lighten: #fff;
  --color-primary-darken: #fff;

  --color-secondary: #fff;
  --color-secondary-lighten: #fff;
  --color-secondary-darken: #fff;

  --color-accent: #fff;
  --color-accent-lighten: #fff;
  --color-accent-darken: #fff;

  --color-content-primary: #000;
  --color-content-secondary: #000;
  --color-content-accent: #000;

  --color-content-900: #fff;
  --color-content-800: #fff;
  --color-content-700: #fff;
  --color-content-600: #666;
  --color-content-500: #666;
  --color-content-400: #666;
  --color-content-300: #000;
  --color-content-200: #000;
  --color-content-100: #000;


  /* border-radius variants */
  --rounded-btn: 0;
  --rounded-box: 0;
  --rounded-badge: 0;

}

[data-theme='retro'] {
  --color-default: #e4d8b4;

  --color-primary: #e86f68;
  --color-primary-lighten: color(#e86f68 l(10));
  --color-primary-darken: color(#e86f68 d(10));

  --color-secondary: #83b799;
  --color-secondary-lighten: color(#83b799 l(10));
  --color-secondary-darken: color(#83b799 d(10));

  --color-accent: #e2cd6d;
  --color-accent-lighten: color(#e2cd6d l(10));
  --color-accent-darken: color(#e2cd6d d(10));

  --color-content-primary: #272324;
  --color-content-secondary: #272324;
  --color-content-accent: #272324;

  --color-content-900: #272324;
  --color-content-800: #272324;
  --color-content-700: #272324;
  --color-content-600: #9e8f6c;
  --color-content-500: #9e8f6c;
  --color-content-400: #9e8f6c;
  --color-content-300: #e4d8b4;
  --color-content-200: #e4d8b4;
  --color-content-100: #e4d8b4;
}


[data-theme='dracula'] {
  --color-default: #1d1e26;

  --color-primary: #ff80bf;
  --color-primary-lighten: color(#ff80bf l(10));
  --color-primary-darken: color(#ff80bf d(10));

  --color-secondary: #8aff80;
  --color-secondary-lighten: color(#8aff80 l(10));
  --color-secondary-darken: color(#8aff80 d(10));

  --color-accent: #ffff80;
  --color-accent-lighten: color(#ffff80 l(10));
  --color-accent-darken: color(#ffff80 d(10));

  --color-content-primary: #1d1e26;
  --color-content-secondary: #1d1e26;
  --color-content-accent: #1d1e26;

  --color-content-900: #9580ff;
  --color-content-800: #9580ff;
  --color-content-700: #9580ff;
  --color-content-600: #9580ff;
  --color-content-500: #d0caea;
  --color-content-400: #d0caea;
  --color-content-300: #22212c;
  --color-content-200: #22212c;
  --color-content-100: #22212c;
}

[data-theme='christmas'] {
  --color-default: #ECEBF1;

  --color-primary: #5F1326;
  --color-primary-lighten: #5F1326;
  --color-primary-darken: #5F1326;

  --color-secondary: #D34250;
  --color-secondary-lighten: #D34250;
  --color-secondary-darken: #D34250;

  --color-accent: #5EB69D;
  --color-accent-lighten: #5EB69D;
  --color-accent-darken: #5EB69D;

  --color-content-primary: #fff;
  --color-content-secondary: #fff;
  --color-content-accent: #fff;

  --color-content-900: #2A5B53;
  --color-content-800: #2A5B53;
  --color-content-700: #2A5B53;
  --color-content-600: #2A5B53;
  --color-content-500: #5EB69D;
  --color-content-400: #5EB69D;
  --color-content-300: #ceeae2;
  --color-content-200: #ceeae2;
  --color-content-100: #ceeae2;

}
