.dropdown {
  @apply relative;
}
.dropdown-divider {
  @apply h-0 my-2 border-t border-content-200;
}
.dropdown-menu {
  min-width: 10rem;
  @apply hidden z-20 float-left py-2 mt-1 text-base text-content-900 list-none text-left border border-content-200 bg-default rounded shadow;
}
.dropdown-menu.show, .dropdown.open .dropdown-menu {
  @apply block absolute top-0 left-0;
}
.dropdown-item {
  @apply block w-full py-1 px-6 font-normal text-content-900 border-0;
}
.dropdown-item:hover {
  @apply text-content-900 bg-content-100;
}
.dropdown-toggle::after {
  @apply inline-block ml-1 align-middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
}
