.fade {
  transition: opacity 0.15s linear;
}
.modal {
  z-index: 1072;
  @apply hidden fixed top-0 left-0 w-full h-full outline-none;
}
.modal.show, .modal.in {
  @apply block;
}
.modal-dialog {
  @apply relative w-auto pointer-events-none max-w-lg my-8 mx-auto;
}
.modal-content {
  @apply relative flex flex-col w-full pointer-events-auto bg-default border border-content-200 rounded-lg;
}
.modal-header {
  @apply flex items-start justify-between p-4 border-b border-content-200 rounded-t;
}
.modal-title {
  @apply mb-0 leading-normal;
}
.modal-body {
  @apply relative flex p-4;
}
.modal-footer {
  @apply flex items-center justify-end p-4 border-t border-content-200;
}
.modal-footer > :not(:last-child) {
  @apply mr-2;
}
