/*! purgecss start ignore */


[data-theme='dark'] {
  --d: 223 14% 10%;

  --c9: 210 20% 98%;
  --c8: 220 14% 96%;
  --c7: 228 14% 93%;
  --c6: 220 15% 84%;
  --c5: 218 14% 65%;
  --c4: 220 14% 46%;
  --c3: 220 14% 37%;
  --c2: 219 14% 28%;
  --c1: 222 13% 19%;
}

[data-theme='black'] {
  --d: 0 0% 0%;

  --p2: 0 0% 100%;
  --p1: 0 0% 100%;
  --p3: 0 0% 100%;

  --s2: 0 0% 100%;
  --s1: 0 0% 100%;
  --s3: 0 0% 100%;

  --a2: 0 0% 100%;
  --a1: 0 0% 100%;
  --a3: 0 0% 100%;

  --cp: 0 0% 0%;
  --cs: 0 0% 0%;
  --ca: 0 0% 0%;

  --c9: 0 0% 100%;
  --c8: 0 0% 80%;
  --c7: 0 0% 70%;
  --c6: 0 0% 60%;
  --c5: 0 0% 50%;
  --c4: 0 0% 40%;
  --c3: 0 0% 30%;
  --c2: 0 0% 20%;
  --c1: 0 0% 10%;

  --in: 240 100% 50%;
  --su: 120 100% 25%;
  --wa: 60 100% 50%;
  --er: 0 100% 50%;

  --rounded-btn: 0;
  --rounded-box: 0;
  --rounded-badge: 0;

}

[data-theme='retro'] {
  --d: 45 47% 80%;

  --p2: 3 74% 66%;
  --p1: 3 74% 76%;
  --p3: 3 74% 56%;

  --s2: 145 27% 62%;
  --s1: 145 27% 72%;
  --s3: 145 27% 52%;

  --a2: 49 67% 66%;
  --a1: 49 67% 76%;
  --a3: 49 67% 56%;

  --cp: 345 5% 15%;
  --cs: 345 5% 15%;
  --ca: 345 5% 15%;

  --c9: 345 5% 15%;
  --c8: 41 13% 24%;
  --c7: 42 17% 42%;
  --c6: 41 19% 47%;
  --c5: 42 20% 52%;
  --c4: 42 26% 57%;
  --c3: 42 36% 65%;
  --c2: 45 37% 72%;
  --c1: 46 42% 76%;
}


[data-theme='dracula'] {
  --d: 233 13% 13%;

  --p2: 330 100% 75%;
  --p1: 330 100% 85%;
  --p3: 330 100% 65%;

  --s2: 115 100% 75%;
  --s1: 115 100% 85%;
  --s3: 115 100% 65%;

  --a2: 60 100% 75%;
  --a1: 60 100% 85%;
  --a3: 60 100% 65%;

  --cp: 233 13% 13%;
  --cs: 233 13% 13%;
  --ca: 233 13% 13%;

  --c9: 251 100% 90%;
  --c8: 251 100% 80%;
  --c7: 250 100% 75%;
  --c6: 245 23% 54%;
  --c5: 245 23% 49%;
  --c4: 245 23% 42%;
  --c3: 245 20% 27%;
  --c2: 245 13% 21%;
  --c1: 245 14% 15%;
}

[data-theme='synthwave'] {
  --d: 257 63% 17%;

  --p1: 321 70% 69%;
  --p2: 321 70% 59%;
  --p3: 321 70% 49%;

  --s2: 197 87% 75%;
  --s1: 197 87% 65%;
  --s3: 197 87% 55%;

  --a2: 48 89% 67%;
  --a1: 48 89% 57%;
  --a3: 48 89% 47%;

  --cp: 257 63% 17%;
  --cs: 257 63% 17%;
  --ca: 257 63% 17%;

  --c1: 257 63% 22%;
  --c2: 257 63% 32%;
  --c3: 257 63% 42%;
  --c4: 257 63% 52%;
  --c5: 257 63% 62%;
  --c6: 257 63% 72%;
  --c7: 257 63% 82%;
  --c8: 257 63% 92%;
  --c9: 257 63% 98%;

  --in: 199 87% 64%;
  --su: 168 74% 68%;
  --wa: 48 89% 57%;
  --er: 352 74% 57%;

}
/*! purgecss end ignore */
